{% extends 'ai/base.html' %}
{% block title %}图像超分{% endblock %}

{% block my_link_script %}
<link href="{{ url_for('static', filename='vendors/dropzone/dropzone.min.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='vendors/dropzone/dropzone.min.js') }}"></script>

<link rel="stylesheet" href="https://unpkg.com/cropperjs@1.5.11/dist/cropper.css">
<script src="https://unpkg.com/cropperjs@1.5.11/dist/cropper.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const image = document.getElementById('image');
    const fileInput = document.getElementById('fileInput');
    let cropper;

    fileInput.addEventListener('change', function() {
        const file = this.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            image.src = e.target.result;
            if (cropper) cropper.destroy(); // Destroy previous cropper instance
            cropper = new Cropper(image, {
              aspectRatio: NaN, // 将此行修改为NaN
              crop(event) {
                  document.getElementById('cropX').value = event.detail.x;
                  document.getElementById('cropY').value = event.detail.y;
                  document.getElementById('cropWidth').value = event.detail.width;
                  document.getElementById('cropHeight').value = event.detail.height;
              }
          });
        };
        reader.readAsDataURL(file);
    });
});

  </script>
{% endblock %}


{% block my %}
<div class="card mb-3">
  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0" data-anchor="data-anchor" id="single-file-upload">图像超分<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#single-file-upload" style="padding-left: 0.375em;"></a></h5>
        <p class="mb-0 pt-1 mt-2 mb-0"><code>* </code>1.你可以选择预定义的算法模型对图像超分</p>
        <p class="mb-0 pt-1 mt-2 mb-0"><code>* </code>2.可以先裁剪图片或者不裁剪直接超分</p>
      </div>

    </div>
  </div>
  <div class="card-body bg-body-tertiary">
    <form action={{url_for('ai.super_image')}} method="post" enctype="multipart/form-data">
      <h5>选择算法</h5>
      <select class="btn btn-falcon-default dropdown-toggle" aria-label="Default select example" name="algo_option">
        <option value="real_esrgan">Real_ESRGAN</option>
        <option value="real_esrgan_zk">Real_ESRGAN_zk</option>
        <option value="swinir">SwinIR</option>
        <option value="swinir_xyh">SwinIR_xyh</option>
        <option value="liif">LIIF</option>
        <option value="rdn">RDN</option>
        <option value="esrgan">ESRGAN</option>
      </select>
      <p></p>
      <h5>选择文件</h5>
      <input type="file" name="file" id="fileInput" accept="image/*">
      <img id="image" src="" alt="" width="500">
      <input type="hidden" name="x" id="cropX">
      <input type="hidden" name="y" id="cropY">
      <input type="hidden" name="width" id="cropWidth">
      <input type="hidden" name="height" id="cropHeight">
      <p></p>
      
      <button type="submit" class="btn btn-outline-primary" name="action" value="crop_and_super_resolve">一键裁剪超分</button>
      <button type="submit" class="btn btn-outline-primary" name="action" value="super_resolve">直接超分</button>
    </form>
    <hr>

    {% if display %}
    <h3>原图:</h3>
    <img src="{{ url_for('ai.uploaded_file', filename='origin_image.jpg') }}" alt="Origin Image">
    <h3>裁剪:</h3>
    <img src="{{ url_for('ai.uploaded_file', filename='cropped_image.jpg') }}" alt="Cropped Image">
    <h3>超分:</h3>
    <img src="{{ url_for('ai.uploaded_file', filename='chaofen_image.jpg') }}" alt="Chaofen Image">
    {% endif %}

  </div>
</div>


{% endblock %}